
<div class="ui three column doubling stackable grid">
    <div class="eight wide column">
        <div cards columns="3">
          <div trv-character-nameplate link="true" [character]="character"></div>
          <div trv-character-homeworld-plate link="true" [character]="character"></div>
          <div card link="true">
              <div class="header">Log</div>
              <div class="description">Last Log</div>
          </div>
      </div>
    </div>
    <div class="four wide column">
    
    </div>
    <div class="four wide column">
    
    </div>
</div>

